

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}


html {
    font-size: 16px;

}

body{
    background: linear-gradient(90deg, rgba(9,63,96,1) 0%, rgba(127,155,161,1) 61%, rgba(168,194,194,1) 100%);
    background-color: #000046;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* --------------------------------- Weather Component Styling ------------------------------ */


.weather-container{
    margin-top: 6rem;
}

.location{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.condition{
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
}

.weather-misc{
    text-align: center;
    font-size: 1.25rem;

}

.weather-icon{
    padding: 0;
    margin-left: 1rem;
}


/* ----------------------------------------- User Form ----------------------------------------- */



.user-form{
    margin-top: 1rem;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 600px;
    padding: 20px;
}
.form-box {
    width: 100%;
    max-width: 60vw;
    padding: 30px 30px;
    border-radius: 4px;
    background-color: rgba(20, 45, 57, 0.5)
    
}

.call-to-action{
    margin: .6rem;
    padding: 0;
}
.c-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.two-columns {
    display: grid;
    grid-template-columns: 100%;
}

.three-columns {
    display: grid;
    grid-template-columns: 100%;
}

fieldset {
    margin: .6rem;
    padding: 0;
    border: none;
}


.Button{
    margin-top: 2rem;
}


/* ------------------------------- Media Queries ------------------------------------- */

@media screen and (min-width: 481px) {
    .two-columns {
    grid-template-columns: 48.7804878% 48.7804878%;
    grid-column-gap: 2.43902439%;
    }

    .three-columns{
        grid-template-columns: 33% 33% 29%;
        grid-column-gap: 2.43902439%;
    }
}


@media (max-width: 600px) {
    body {
        font-size: 10px;
    }

    .form-box{
        max-width: 80vw;
    }

    .weather-container{
        margin-top: 3rem;
    }

    .user-form{
        margin-top: -2rem;
    }



}